@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
 font-family: 'Cabin', sans-serif;
 margin: 30px;
}

img.banner{
width: 100%;
height: 100%;
}

.container {
  font-size: 16px;
}

.panel {
  margin: 400px;
  align-self: center;
}

.panel-body {
  font-size: 18px;
}

h3.aboutme {
  float: right;
}

/*
<img src="img/banner.jpg" alt="Wayne Noel banner photo.png.">

.jumbotron {
background-image: url("../img/jumbotron_bg.jpg");
}

*/
