@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
 font-family: 'Cabin', sans-serif;
 margin: 30px;
}

img.banner{
width: 100%;
height: 100%;
}

.container {
  font-size: 16px;
}

.panel {
  margin-top: 300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 300px;
  align-items: center;
  padding: 10px;
}

.panel-body {
  font-size: 18px;
}

h1.ul {
  text-decoration: underline;
  text-shadow: 1.5px .5px rgb(34, 153, 187);
}

h3.aboutme {
  float: right;
}
